---
layout: base.njk
---
<div class="ph3 ph0-ns pt4 pt6-ns w-100">
    <div class="mw6-m mw7-l avenir center">
        <div class="dt w-100">
            {% for item in agenda %}

                {% if item.type === 'date' %}
                <div class="dt-row">
                    <div class="dtc w-4 pa1 pa2-ns pt2 pt3-ns">
                        
                    </div>
                    <div class="dtc pa1 pa2-ns v-mid">
                        <div class="ph3 ph4-l pv2 pv3-ns tc">
                            <div class="f4 f3-ns f4-l v-mid">{{ item.date }}</div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="dt-row">
                    <div class="dtc w4 pa1 pa2-ns">
                        <div class="ph3 ph4-l pv2 pv3-ns tc ba b--white br3">
                            <div class="f5 f4-l v-mid">{{ item.time }}</div>
                        </div>
                    </div>
                    <div class="dtc pa1 pa2-ns v-mid">
                        
                            {% include 'components/talkCard.njk' %}
                       
                    </div> 
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
