<!DOCTYPE html>
<html lang="en">
   <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:image" content="{{ page.image }}">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="description" content="{{ page.description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:site" content="{{ event.twitter }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:image" content="{{ page.image }}">
    <meta name="twitter:label1" value="Date" />
    <meta name="twitter:data1" value="{{ event.eventDate }}" />
    <meta name="twitter:label2" value="Location" />
    <meta name="twitter:data2" value="{{ event.location }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{{ event.favicon }}" type="image/x-icon"/>
    </head>
    <body class="avenir w-100 primaryColor primaryBkg">
      {% include 'components/navBar.njk' %}
        {{ content | safe }}
    </body>
    {% include 'components/footer.njk' %}
</html>