---
layout: base.njk
---
<div class="flex-ns pt4 pt6-ns w-100 db relative bg-navy">
    <div class="w-auto w-10-l dn db-l tr">
    </div>
    <div class="measure-wide">
        {{ content | safe }}
    </div>  
</div>
