---
layout: base.njk
---

<div class="ph3 ph0-ns pt4 pt6-ns w-100 center">
    <div class="w-100 w-80-m w-60-l center">
        <h1 class="f1">News</h1>
    </div>
    <div class="w-100 w-80-m w-60-l center bt b--white bw2 mb5 pa3">
        <a class="no-underline primaryColor tl" href="{{ lead.link }}">
            <div class="flex-ns">
                <div class="w-100 w-80-ns pa3">
                    <h2 class="f4 f2-ns mt2 mb0">{{ lead.headline }}</h2>
                    <p class="f6 f5-ns">{{ lead.description }}</p>
                    <div class="mv1 f5 i tl v-btm">{{ lead.date }}</div>
                </div>
                <div class="w-100 w-20-ns">
                    <img class="cover" src="{{ lead.image }}" />
                </div>
            </div>
        </a>
    </div>
    <div class="w-100 w-80-m w-60-l center">
        {% for post in posts %}
        <a class="no-underline primaryColor tl" href="{{ post.link }}"> 
            <div class="w-100 flex-ns">
                <div class="w-100 w-20-ns">
                    <span class="mv1 ml2 f5 i tl">{{ post.date }}</span>
                </div>
                <div class="w-100 w-80 ph3 pb3 v-top">
                    <h2 class="f4 f3-ns pt0 mt0 mb0">{{ post.headline }}</h2>
                    <p class="f6 f5-ns">{{ post.description }}</p>
                    
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>


    
