<div class="w-100 ph1 pv3 pa3-ns tl f4 secondaryColor secondaryBkg">
    <div class="flex-ns mv3">
        <div class="w-100 w-05-l dn db-l">
        </div>
        <div class="w-100 w-40-l tc tl-m ph2 ph3-m ph0-ns">
            <h2 class="f2 mv3 tl">Sign Up</h2>
            <p class="f5 tl">Get the latest updates on the event. When we release tickets, announce speakers, and give further details on ServerlessDays</p>
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup"  style="background-color:#f3ecda;">
            <form action="https://serverlessdays.us4.list-manage.com/subscribe/post?u=9cf0d221d7571ca58cd71d6f0&amp;id=32bf35b980" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9cf0d221d7571ca58cd71d6f0_32bf35b980" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>

            <!--End mc_embed_signup-->
        </div>
        <div class="w-100 w-50-l tl tr-ns ph3 ph0-ns">
        </div>
    </div>
</div>


<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>