---
layout: base.njk
---
<div class="ph3 ph0-ns pt4 pt6-ns w-100">
    <div class="w-100 w-80-m w-70-l center tl">
        <div class="dt-ns pt2 pt5-ns">
            <div class="dt-row-ns">
                <div class="dtc-ns tc center pa2 pa1-m pa0-l tl-ns w5">
                    <img class="ba br3 b--transparent" src="{{ speaker.img }}" alt="{{ speaker.alt }}" />
                </div>
                <div class="dtc-ns ph2 ph3-m ph5-l v-top">
                    <h1 class="f2 f1-ns pb1 pt0-ns mb1 mt0-ns tc tl-ns">{{ speaker.name }}</h1>
                    <p class="f4 f3-ns pv1-ns mv1-ns tc tl-ns">{{ speaker.title }}</p>
                    <div class="pv1 pv3-ns"> 
                        {% for network in speaker.social %}
                            <a class="no-underline v-mid" href="{{ network.link }}" target="_blank"><img class="h2 w2 pr2 white f5 v-mid" src="{{ network.icon }}" alt="{{ network.name }}" /></a>
                        {% endfor %}
                    </div> 
                    <div class="f5 lh-copy mw6 mw7-ns markdown-body">
                        {% markdown speaker.bio %}
                    </div>
                    {% if speaker.talk %}
                        <div class="dt w-100">
                            <div class="dt-row">
                                <div class="dtc i pv2 w3 pr3 f5">Title</div>
                                <div class="dtc pv2 b mw5 mw6-ns f5">
                                    {{ speaker.talk.title }}
                                </div>
                            </div>
                            <div class="dt-row mw6 mw7-ns">
                                <div class="dtc i w3 pr3 f5">Abstract</div>
                                <div class="dtc f5 lh-copy markdown-body mw5 mw6-ns">
                                    {% markdown speaker.talk.abstract %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


    
