---
layout: base.njk
---
<div class="ph3 ph0-ns pt4 pt6-ns w-100">
    <div class="w-100 w-80-m w-70-l center tl">
        <img class="ba br-100 b--transparent h5 w5 cover shadow-6" src="{{ speaker.img }}" alt="{{ speaker.alt }}" />
        <h1 class="f1">{{ speaker.name }}</h1>
    </div>
    <div class="cf">
    </div>
</div>


    
