---
layout: base.njk
---
<div class="ph3 ph0-ns pt4 pt6-ns w-100">
    <div class="w-100 w-80-m w-70-l center tl">
        <div class="dt-ns pt2 pt5-ns">
            <div class="dt-row-ns">
                <div class="dtc-ns tc tl-ns w-100 w-auto-ns">
                    <img class="ba br3 b--transparent h5 w5 cover shadow-6-light" src="{{ speaker.img }}" alt="{{ speaker.alt }}" />
                </div>
                <div class="dtc-ns ph2 ph5-ns v-top">
                    <h1 class="f1 pt0-ns mt0-ns tc tl-ns">{{ speaker.name }}</h1>
                    <div class="pb2"> 
                        {% for network in speaker.social %}
                            <a class="grow" href="{{ network.link }}"><img class="h2 w2 pr2" src="{{ network.icon }}" alt="{{ network.name }}" /></a>
                        {% endfor %}
                    </div> 
                    <div class="f5 lh-copy mw6 mw7-ns markdown-body">
                        {% markdown speaker.bio %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
