---
layout: base.njk
---
<div class="ph3 ph0-ns pt4 pt6-ns w-100 center">
    <div class="w-100 w-80-m w-60-l center">
        <h1 class="f1">Speakers</h1>
            {% for speaker in speakers %}
            <div class="fl w-100 w-33-ns pa3 pa4-ns v-mid center">
                <a class="no-underline" href="{{ speaker.link }}">
                    <img class="ba br-100 b--transparent h5 w5 cover" src="{{ speaker.img }}" alt="{{ speaker.alt }}" />
                    <p class="f3 pt2 primaryColor tc">{{ speaker.alt }}</p>
                </a>
            </div>
            {% endfor %}
    </div>
    <div class="cf">
    </div>
</div>


    
