---
layout: base.njk
---
<div class="ph3 ph0-ns pt4 pt6-ns w-100">
    <div class="w-100 w-80-m w-60-l center">
        <h1 class="f1">Sponsors</h1>
    </div>
    <div class="mw6-m mw7-l center pb2 pb4-ns">
        {% include 'components/sponsors.njk' %}
    </div>
</div>
