<div class="w-100">
    <div class="dt center">
        <div class="dt-row">
            <div class="w-33 pv4 ph4 dtc">
                <div class="ba br3 bw2 b--dashed primaryBorder pv5 ph6">
                    <img height="80" src="/img/plus.svg" alt="Plus sign"/>
                </div>
            </div>
            <div class="w-33 pv4 ph4 dtc">
                <div class="ba br3 bw2 b--dashed primaryBorder pv5 ph6">
                    <img height="80" src="/img/plus.svg" alt="Plus sign"/>
                </div>
            </div>
            <div class="w-33 pv4 ph4 dtc">
                <div class="ba br3 bw2 b--dashed primaryBorder pv5 ph6">
                    <img height="80" src="/img/plus.svg" alt="Plus sign"/>
                </div>
            </div>
        </div>
    </div>
</div>