<div class="flex-ns mv3 mv4-l">
    <div class="w-100 w-05-l dn db-l"> 
    </div>
    <div class="w-100 w-60-m w-50-l ph3 ph0-ns">
        <h2 class="f2 mv3">Agenda</h2>
        <div class="pt2 pt3-ns">
            {% for session in agenda %}
                <span class="h3 tl f6 ba bw1 b--transparent dib">
                    <div class="dt w-100 h-100 contrastBkg contrastColor">
                        <div class="dt-row">
                            <div class="dtc pa2">
                                <div class="f5 b">
                                    {{ session.time }}
                                </div>
                            </div>
                            <div class="dtc pv2 pl2 pr3">
                                <div class="i pb2">
                                    {{ session.name }}
                                </div>
                                <div class="b">
                                    {{ session.speaker }}
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="w-100 w-10-l dn db-l">
    </div> 
</div>