<div class="w-100 pv3 primaryColor">
    <div class="tc pv2 pv4-ns">
        {% for mascot in mascots.mascots %}
            <img class="pa2" src="{{ mascot.img }}" alt="{{ mascot.alt }}" />
        {% endfor %}
    </div>
    <div class="tc pv1 pv3-ns">
        {% for item in nav.navBarItems %}
            <a class="no-underline primaryColor pa2 f6" href="{{ item.path }}">{{ item.name }}</a>
        {% endfor %}
        <a class="no-underline primaryColor pa2 f6" href="/privacy">Privacy Policy</a>
    </div>
    <div class="tc pv1 pv3-ns">
        <a class="primaryColor no-underline pa2 v-mid f5" href="mailto:{{ event.email }}" >{{ event.email }}</a>
        <a class="primaryColor no-underline pa2 v-mid f5" href="{{ event.twitter }}" >@SydDays</a>
    </div>
</div>