<div class="fixed-ns f5 f4-ns w-100 tc tr-l pa1 pa2-m pa3-l pr5-l avenir primaryColor primaryBkg z-max">
  <span class="dib">
  <a
    id="home"
    class="dib pv2 ph3 primaryColor pointer no-underline underline-grow"
    href="/"
  >Home</a>
  {% for item in nav.navBarItems %}
    {% if item.cta %}
    <a
      id="{{ item.key }}"
      class="dib ph3 pv2 mv0 fw6 contrastBkg contrastColor pointer ba b--transparent br2 no-underline underline-grow v-mid"
      href="{{ item.path }}" 
    >{{ item.name }}</a>
    {% else %}
    <a
      id="{{ item.key }}"
      class="dib ph3 pv2 primaryColor pointer no-underline underline-grow"
      href="{{ item.path }}"
    >{{ item.name }}</a>    
    {% endif %}
  {% endfor %}
  </span>
</div>