<div class="w-100 ph1 pv3 pa3-ns tl f4 secondaryColor secondaryBkg">
    <div class="flex-ns mv3">
        <div class="w-100 w-05-l dn db-l">
        </div>
        <div class="w-100 w-40-l tc tl-m ph2 ph3-m ph0-ns">
            <h2 class="f2 mv3 tl">Sign Up</h2>
            <p class="f5 tl">Get the latest updates on the event. When we release tickets, announce speakers, and give further details on ServerlessDays</p>
            <form id="subForm" class="js-cm-form f6 f5-ns" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E905619AEC432927F41233AD06ED22FD5D622C70F754247B14B205DF1D6DBCEE70340B42450C9505B49FE94AE2558ACE79BC984">	
                <p class="tl">
                    <label class="pr2 tl" for="fieldEmail">Email</label>
                    <input id="fieldEmail" name="cm-ethuul-ethuul" type="email" class="js-cm-email-input tl pa1"
                    required />
                </p>
                <p class="tl">
                    <label class="pv2">Opt into another list</label>
                    <br />
                    <div class="tl">
                        <input id="listethuui" name="cm-ol-ethuui" type="checkbox" />
                        <label for="listethuui">Global ServerlessDays News</label>
                    </div>
                </p>
                <div class="tl">
                    <input id="cm-privacy-consent" name="cm-privacy-consent" required type="checkbox"
                    />
                    <label for="cm-privacy-consent">I agree to be emailed</label>
                    <input id="cm-privacy-consent-hidden" name="cm-privacy-consent-hidden"
                    type="hidden" value="true" />
                </div>
                <p class="tr">
                    <button class="js-cm-submit-button pointer pv2 ph3 ph4-ns f5 f4-ns no-underline ba br2 b--transparent secondaryConstrastBkg secondaryContrastColor" type="submit">Subscribe</button>
                </p>
            </form>
        </div>
        <div class="w-100 w-50-l tl tr-ns ph3 ph0-ns">
        </div>
    </div>
</div>


<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>