<div class="flex-ns mv3 mv4-l">
        <div class="w-100 w-05-l dn db-l">
        </div>
        <div class="w-100 w-60-m w-50-l tl ph3 ph0-ns">
            <h2 class="f2 mv3">Venue</h2>
            <div class="f5 lh-copy pr3-m">{% markdown venue.text %}</div>
            <div class="mt4"><span><a class="pv2 ph3 ph4-ns f5 f4-ns no-underline ba br2 b--transparent mr2 secondaryColor secondaryBkg" href="{{ venue.cta.path }}" target="_blank">{{ venue.cta.name }}</a></span></div>
        </div>
        <div class="w-100 w-40-m w-40-l db-ns tc tl-m ph2 ph3-m ph0-l">
            <img class="ba br3 b--transparent pt4 pt0-ns cover" height="320" src="{{ venue.image }}"/>
        </div>
    </div>