.primaryColor { color: #ffffff; }
.primaryBkg { background-color: #001F3F; }
.primaryBorder { border-color: #ffffff; }
.contrastColor { color: #001F3F; }
.contrastBkg { background-color: #ffffff; }
.contrastBorder { border-color: #001F3F; }
.accentColor { color: green }
.accentBkg { background: green }
.secondaryColor { color: maroon}
.secondaryBkg { background: #f3ecda}
.secondaryContrastColor { color: #f3ecda}
.secondaryConstrastBkg { background: maroon}
.tertiaryColor { color: #ffffff}
.tertiaryBkg { background: #1e656d}
.tertiaryContrastColor { color: #1e656d}
.tertiaryContrastBkg { background: #ffffff}

.w-05 { width: 5% }
.w-12 { width: 12.5% }
.w-16 { width: 16.5% }

.h45 { height: 12rem }
.w45 { height: 12rem }

.shadow-3-light { box-shadow: 2px 2px 4px 2px rgba(119, 119, 255, 0.2); }
.shadow-5-light { box-shadow: 4px 4px 8px 0px rgba(119, 119, 255, 0.2); }

.shadow-6 { box-shadow: 0px 0px 24px 24px rgba(255, 255, 255, 0.2); }

@media screen and (min-width: 30em) {
    .heroImage-ns {
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
    .shiftRight60-ns { margin-right: -60px }
    .shiftRight75-ns { margin-right: -75px }
    .shiftRight90-ns { margin-right: -90px }
    .shiftUp240-ns { margin-top:-240px }
    .w-16-ns { width: 16.5% }
    .w-12-ns { width: 12.5% }
    .w-05-ns { width: 5% }
}

@media screen and (min-width: 60em) {
    .heroImage-l {
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
    .shiftRight60-l { margin-right: -60px }
    .shiftRight75-l { margin-right: -75px }
    .shiftRight90-l { margin-right: -90px }
    .shiftUp240-l { margin-top:-240px }
    .w-16-l { width: 16.5% }
    .w-12-l { width: 12.5% }
    .w-05-l { width: 5% }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .shiftRight60-m { margin-right: -60px }
    .shiftRight75-m { margin-right: -75px }
    .shiftRight90-m { margin-right: -90px }
    .shiftUp240-m { margin-top:-240px }
    .shiftUp90-m { margin-top:-90px }
    .w-16-m { width: 16.5% }
    .w-12-m { width: 12.5% }
    .w-05-m { width: 5% }
}